<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <section class="presentacion">
            <div>PortFolio</div>
            <div>Jonatan Alexander Ballestero</div>
        </section>
        <nav>
            <div><a href="https://www.facebook.com/jonny.ballestero"><i class="fa-brands fa-facebook"></i></a></div>
            <div><a href="https://www.instagram.com/jonatanballestero"><i class="fa-brands fa-instagram"></i></a></div>
            <div><a href="https://www.linkedin.com/in/jonballes/"><i class="fa-brands fa-linkedin"></i></a></div>
            <div><a href="https://github.com/JonBalles"><i class="fa-brands fa-github"></i></a></div>
        </nav>
    </header>
    
    
    <main> 
        <section class="info">
            <div class="aboutMe">
                <h2>Sobre mi</h2>
                <p>Desde chico me apasiona todo lo relacionado a la tecnologia y las computadoras. </br>
                    Empece a integrarme en las reparaciones de PC despues de una mala experiencia con un problema que no supo resolver un tecnico de PCs.
                    Desde entonces busque mis propias soluciones y logre trabajar 7 años en una casa de computacion reparando y ofreciendo la mejor atencion posible. </br>
                    Me fui capacitando en el area del Hardware pero en el fondo sabia que mi camino iba para el lado del soft y hoy en dia me impulsa a aprender cada vez mas para llegar a realizar mis sueños de programador y poder dejar mi granito de arena en este mundo. </br> 
                    Uno de mis sueños es poder aportar cualquier tipo de ayuda en el area de la medicina o medioambiente. Si sueño con el futuro, voy a dar todo de mi para construir uno lo mejor posible
                </p>
            </div>
           
            <div>
                <h2>Conocimientos</h2>
                <p></p>
            </div>
        </section>
    </main>

</body>
</html>